body{
    margin: 0;
    padding: 0;
}
#main{
    background-color: antiquewhite;
}
#eye{
    text-align:center;
    border: 2px solid pink;
    background-color:rgb(210, 215, 228);
    color: black; 
    padding-bottom: 5px;
}
.same{
    background-color:rgba(0, 0, 0, 0.336);
    border-radius: 5px;
}

.header{
    background-color: rgb(217, 135, 233);
    text-align: center;
    text-decoration:none;
}
.content{
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 20px;
    color:white;

}

